/* style.css */
body {
	background: lightgrey;
	max-width: 768px;
	margin: 0;
	padding: 0;
}

#status-bar {
	background: #f1f1f1;
	height: 80px;
}

#status-bar h1 {
	height: 50px;
	text-align: center;
	font-size: 2em;
	border: thin solid black;
	margin: 15px 0 0 0;
}


#status-bar li {
	height: 50px;
	width: 50px;
	margin: 15px 15px 0 0;
	display: inline-block;
	border: thin solid black;
}

#conditions {
	background: grey;
	/*height: 120px;*/
}

#status { 
	background: lightgreen;
	height: 80px;
}

#status h1 {
	text-align: center;
	font-size: 2em;
	padding-top: 20px;
}

#stats {
	background: tomato;
}

#stats h1 {
	text-align: center;
	font-size: 2em;
}



#forcast {
	height: 300px;
	background: #f2f2f2;
}

#forcast h1 {
	text-align: center;
	font-size: 2em;
}

#map {
	height: 300px;
	background: lightblue;
}

#map h1 {
	text-align: center;
	font-size: 2em;
}

#footer {
	height: 60px;
	background: grey;
}

#footer h1 {
	margin: 15px 0;
	text-align: center;
	font-size: 2em;
}











