#forecast {
	h1 {
		background: $primary-color;
		color: $secondary-text-color;
		padding: 10px;
		text-align: center;
		font-variant: small-caps;
		span {
			font-size: .75em;
		}
	}
}

.day {
	background: $status-excellent-color;
	text-align: center;
	font-variant: small-caps;
	color: $secondary-text-color;
	h2 {
		font-size: 2.33em;
	}
	img {
		display: block;
		width: 100%;
		background: none;
		padding: 20px;
		margin: 10px 0;
	}

}

.excellent{
	background-color: $status-excellent-color;
}
.good{
	background-color: rgba(79, 135, 255, .8);
}
.fair{
	background-color: rgba(255, 236, 23, .8);
}
.poor{
	background-color: rgba(255, 142, 28, .8);
}
.bad{
	background-color: rgba(255, 41, 41, .8);
	// border: thin solid red;
}
