#forecast {
	h1 {
		background: $primary-color;
		color: $secondary-text-color;
		padding: 10px;
		text-align: center;
		font-variant: small-caps;
		span {
			font-size: .75em;
		}
	}
}

.day {
	background: $status-color;
	text-align: center;
	font-variant: small-caps;
	color: $secondary-text-color;
	h2 {
		font-size: 2.33em;
	}
	img {
		display: block;
		width: 100%;
		background: none;
		padding: 20px;
		margin: 10px 0;
	}

}

.excellent{
	background-color: rgb(9, 255, 0);
}
.good{
	background-color: rgb(79, 135, 255);
}
.fair{
	background-color: rgb(255, 236, 23);
}
.poor{
	background-color:(255, 142, 28);
}
.bad{
	background-color: (255, 41, 41);
}
