#forecast {
	margin: 0;
	h1 {
		background: $primary-color;
		color: $secondary-text-color;
		padding: 10px;
		text-align: center;
		font-variant: small-caps;
		span {
			font-size: .75em;
		}
	}
}

.day {
	background: $status-excellent-color;
	text-align: center;
	font-variant: small-caps;
	color: $secondary-text-color;
	h2 {
		font-size: 2.33em;
	}
	img {
		display: block;
		width: 100%;
		background: none;
		padding: 20px;
		margin: 10px 0;
	}
	h4 {
		padding: 10px;
	}

}

.excellent{ background-color: $status-excellent-color; }
.good{ background-color: $status-good-color; }
.fair{ background-color: $status-fair-color; }
.poor{ background-color: $status-poor-color; }
.bad { background-color: $status-bad-color; }