$primary-color: rgba(30,30,30,.9);

$secondary-text-color: white;

$secondary-link-color: white;


$status-excellent-color: rgba(50, 205, 100, .85);
$status-good-color: rgba(79, 135, 255, .85);
$status-fair-color: rgba(255, 200, 0, .85);
$status-poor-color: rgba(255, 142, 28, .85);
$status-bad-color: rgba(255, 41, 41, .85);

