#welcome {
	background: grey;
	height: 400px;
	width: 400px;
	position: absolute;
	margin-left: -200px;
	z-index: 1;
	left: 50%;
	top: 10%;
	h1 {
		margin-top: 30px;
		text-align: center;
		color: $secondary-text-color;
		font-size: 3em;
		z-index: 1000;
	}
	form {
		margin-top: 50px;
		input {
			background: lightgrey;
			border: none;
			border-radius: none;
			display: block;
		}
		input[type="text"] {
			margin: auto;	
			height: 60px;
			width: 80%;
			padding-left: 10px;
			font-size: 1.25em;
		}
		input[type="submit"] {
			background: red;
			height: 50px;
			width: 50px;
			margin: -55px 45px 0 0;
			float: right;
			position: relative;
		}
		fieldset {
			margin-top: 10px;
			padding-left: 120px;

		}
		input[type="checkbox"] {
			width: 16px;
			height: 16px;
			display: inline-block;
		}
		label {
			text-align: center;
			display: inline-block;
			color: $secondary-text-color;
		}
	}
	button {
		display: block;
		border-radius: none;
		margin: 50px auto 0 auto;
		padding:2px 20px;
		span {
			padding-right: 5px;
		}
	}
	p {
		text-align: center;
		margin: 50px auto 0 auto;
		width: 80%;
		color: $secondary-text-color;
		a {
			color: $secondary-link-color;
		}
	}
}
