#header {
  margin-top: -20px;
  height: 80px;
  background: rgba(30, 30, 30, 0.9);
  color: white; }
  #header h1 {
    position: relative;
    text-align: center;
    font-size: 3em;
    margin-top: -60px; }
    #header h1 img {
      position: absolute;
      height: 40px;
      margin-left: -21px;
      margin-top: -10px; }
  #header button {
    background: none;
    border: none;
    margin: 0;
    padding: 30px 10px; }
    #header button img {
      height: 35px;
      width: 40px; }

#welcome {
  background: url("../img/welcomeBg.png");
  background-size: cover;
  box-shadow: -5px 8px 10px rgba(0, 0, 0, 0.5);
  height: 400px;
  width: 400px;
  font-family: 'Signika', sans-serif;
  position: absolute;
  margin-left: -200px;
  z-index: 1;
  left: 50%;
  top: 10%; }
  #welcome h1 {
    margin-top: 50px;
    text-align: center;
    color: white;
    font-size: 3.33em;
    z-index: 1000; }
  #welcome form {
    margin-top: 45px; }
    #welcome form input {
      background: rgba(0, 0, 0, 0.4);
      border: none;
      border-radius: 10px;
      display: block; }
    #welcome form input[type="text"] {
      margin: auto;
      height: 60px;
      width: 80%;
      padding-left: 10px;
      font-size: 1.25em;
      color: white; }
    #welcome form input[type="submit"] {
      background: steelblue;
      height: 50px;
      width: 50px;
      margin: -55px 45px 0 0;
      float: right;
      position: relative; }
    #welcome form fieldset {
      margin-top: 10px;
      padding-left: 120px;
      display: none; }
  #welcome button {
    font-size: 1.25em;
    display: block;
    background: none;
    border: none;
    border-radius: none;
    margin: 60px auto 0 auto;
    padding: 2px 20px;
    color: white; }
    #welcome button:hover {
      color: tomato; }
    #welcome button span {
      padding-right: 5px; }
  #welcome p {
    text-align: center;
    margin: 60px auto 0 auto;
    width: 85%;
    color: white; }
    #welcome p a {
      color: white;
      text-decoration: underline; }

body {
  font-family: 'Signika', sans-serif;
  background: url("/img/bg.png") center no-repeat;
  background-size: cover;
  background-attachment: fixed;
  margin: 0 auto;
  padding: 0; }

#overlay {
  display: none;
  background: rgba(0, 0, 0, 0.7);
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0; }

.left {
  float: left; }

.right {
  float: right; }

.col-sm-6, .col-md-6, .col-lg-6 {
  margin: 1%;
  width: 48%; }

.row {
  padding: 0; }

.col-sm-1 {
  padding: 0;
  margin: 0 .5% 20px .5%;
  width: 13.285%; }

#conditions {
  background: rgba(30, 30, 30, 0.9);
  height: 270px;
  margin-top: 28px;
  color: white;
  font-variant: small-caps;
  padding: 0 20px; }
  #conditions h1 {
    margin: 10px 0 0 0;
    text-align: center;
    font-size: 2.8em; }
  #conditions ul {
    margin-top: 10px;
    padding: 0; }
  #conditions li {
    list-style-type: none;
    font-size: 1.8em; }

@media screen and (max-width: 768px) {
  #conditions {
    height: 100%;
    margin-top: 0px;
    margin-bottom: 10px; } }
#status {
  height: 270px;
  padding: 10px 0 0 0;
  margin-top: 28px;
  color: white;
  font-variant: small-caps; }
  #status h1 {
    margin-top: 10px;
    text-align: center;
    font-size: 4em; }
  #status ul {
    padding: 0;
    margin-top: 18px; }
  #status li {
    list-style-type: none;
    padding: 0; }
    #status li p {
      margin-top: 10px;
      margin-left: 10px;
      font-size: 1.5em; }
      #status li p img {
        display: inline-block;
        height: 18px;
        margin-left: -10px;
        margin-right: 5px;
        margin-top: -8px; }
    #status li span {
      font-size: .75em; }

#status-icon {
  display: inline-block;
  width: 100%;
  padding: 15px;
  margin: auto; }

#status-info h2 {
  margin-top: 0;
  margin-right: 10px;
  font-size: 2.8em;
  text-align: center; }
#status-info p {
  margin-right: 10px; }
  #status-info p span {
    font-size: 24px; }

@media screen and (min-width: 970px) {
  #status {
    height: 330px; }

  #conditions {
    height: 330px; } }
@media screen and (max-width: 768px) {
  .col-sm-6, .col-md-6, .col-lg-6 {
    width: 98%;
    margin: auto;
    position: relative; }

  #status {
    padding: 0;
    margin-top: 3%;
    height: 100%; }
    #status img {
      margin: 0; }
    #status ul {
      margin-left: 36%; }
    #status h1 {
      margin-top: -10px; }

  #status-icon {
    padding: 5% 25%;
    margin: auto;
    display: block; } }
#forecast {
  margin: 0; }
  #forecast h1 {
    background: rgba(30, 30, 30, 0.9);
    color: white;
    padding: 10px 0 12px 0;
    text-align: center;
    font-variant: small-caps; }
    #forecast h1 span {
      font-size: .75em; }

.day {
  background: rgba(50, 205, 100, 0.9);
  text-align: center;
  font-variant: small-caps;
  color: white; }
  .day h2 {
    font-size: 2.33em; }
  .day img {
    display: block;
    width: 100%;
    background: none;
    padding: 20px;
    margin: 10px 0; }
  .day h4, .day h3 {
    font-size: 1.5em; }
  .day h5 {
    font-size: 1.5em;
    padding: 10px; }

.excellent {
  background-color: rgba(50, 205, 100, 0.9); }

.good {
  background-color: rgba(79, 135, 255, 0.9); }

.fair {
  background-color: rgba(255, 200, 0, 0.9); }

.poor {
  background-color: rgba(255, 142, 28, 0.9); }

.bad {
  background-color: rgba(255, 41, 41, 0.9); }

@media screen and (max-width: 768px) {
  #forecast h1 {
    margin-bottom: 0px; }

  .col-sm-1 {
    width: 98%;
    position: relative;
    padding: 0;
    margin: 0 auto; }

  .day {
    height: 116px;
    margin: 10px auto;
    padding: 0; }
    .day h2 {
      font-size: 3.33em;
      padding-top: 30px;
      padding: 30px 0 0 0;
      margin: 0; }
    .day img {
      position: absolute;
      top: 18px;
      left: 5%;
      height: 60px;
      width: auto;
      padding: 0; }
    .day h3, .day h4 {
      position: absolute;
      right: 10%;
      top: 15px; }
    .day h4 {
      top: 60px; }
    .day h5 {
      padding: 0; } }

/*# sourceMappingURL=main.css.map */
