<div class="contianer">
    <div class="row">
        <div class="col-sm-6" id="status">
            <div class="row">
                <div class="col-sm-6">
                    <img id="status-icon" src="img/statusIcon.png">
                </div>
                <div class="col-sm-6">
                    <h2>houston</h2>
                    <ul>
                        <li>
                            <p><img src="img/sunset.png">6:32 <span>pm</span>
                            </p>
                        </li>
                        <li>
                            <p><img src="img/tempIcon.png">78&#176;F</p>
                        </li>
                    </ul>
                </div>
            </div>
            <h1><strong>excellent</strong></h1>
        </div>

        <div class="col-sm-6" id="conditions">
            <h1>conditions</h1>
            <ul>
                <li>wind: 10 <span>mph</span>
                </li>
                <li>hummidity: 22 <span>%</span>
                </li>
                <li>percipitation: 3 <span>%</span>
                </li>
                <li>visbility: 9 <span>miles</span>
                </li>
                <li>cloud cover: 10 <span>%</span>
                </li>
            </ul>
        </div>
    </div>
</div>