<div class="container">
    <div class="row">
        <div class="col-sm-6" id="status"
        ng-class="{bad: main.day.status=='bad', 
                   poor: main.day.status=='poor',
                   fair: main.day.status=='fair',
                   good: main.day.status=='good',
                   excellent: main.day.status=='excellent'}">
            <div class="row">
                <div class="col-sm-6">
                    <img id="status-icon" ng-src="img/icons/{{main.day.icon}}.png">
                </div>
                <div class="col-sm-6">
                    <h2 ng-bind="main.day.city"></h2>
                    <ul>
                        <li>
                            <p><img src="img/sunset.png"><span ng-bind="main.day.sunset"></span>
                            </p>
                        </li>
                        <li>
                            <p><img src="img/tempIcon.png"><span ng-bind="main.day.temp"></span></p>
                        </li>
                    </ul>
                </div>
            </div>
            <h1 ng-bind="main.day.status"></h1>
        </div>

        <div class="col-sm-6" id="conditions">
            <h1>conditions</h1>
            <ul>
                <li ng-bind="main.day.wind"></li>
                <li ng-bind="main.day.humidity"></li>
                <!-- <li ng-bind="main.day.percipitation"></li> -->
                <!-- <li ng-bind="main.day.visibility"></li> -->
                <li ng-bind="main.day.cloud"></li>
            </ul>
        </div>
    </div>
</div>