<div class="container">
    <div class="row">
        <div class="col-sm-6" id="status">
            <div class="row">
                <div class="col-sm-6">
                    <img id="status-icon" src="img/statusIcon.png">
                </div>
                <div class="col-sm-6">
                    <h2 ng-bind="main.data.city"></h2>
                    <ul>
                        <li>
                            <p><img src="img/sunset.png"><span ng-bind="main.data.sunset"></span>
                            </p>
                        </li>
                        <li>
                            <p><img src="img/tempIcon.png"><span ng-bind="main.data.temp"></span></p>
                        </li>
                    </ul>
                </div>
            </div>
            <h1 ng-bind="main.status"></h1>
        </div>

        <div class="col-sm-6" id="conditions">
            <h1>conditions</h1>
            <ul>
                <li ng-bind="main.data.wind"><span>mph</span>
                </li>
                <li ng-bind="main.data.humidity"><span>%</span>
                </li>
                <li ng-bind="main.data.percipitation"><span>%</span>
                </li>
                <li ng-bind="main.data.visibility"><span>miles</span>
                </li>
                <li ng-bind="main.data.cloud"><span>%</span>
                </li>
            </ul>
        </div>
    </div>
</div>