<div class="container" id="forecast">
    <h1><span>7</span> day forcast</h1>
    <div class="row">
        <div class="col-sm-1 " ng-repeat="day in main.forecast">
            <div class="day" 
                    ng-class="{bad: day.status=='bad', 
                               poor: day.status=='poor',
                               fair: day.status=='fair',
                               good: day.status=='good',
                               excellent: day.status=='excellent'}">
                <h2 ng-bind="day.day"></h2>
                <img ng-src="../img/icons/{{day.icon}}.png">
                <h3 ng-bind="day.hi"></h2>
                <h3 ng-bind="day.low"></h2>
                <h4 ng-bind="day.status"></h4>
            </div>
        </div>
    </div>
</div>